.copyright {
    margin: 0 auto;
}

.github img {
    height: 1em;
}

footer {
    margin: 1em auto;
    text-align: center;
    grid-area: footer;
}
html {
  font-family: 'Noto Sans', Sans-Serif;
  color-scheme: light;
}

html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 80px;
    background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
}

a {
  color: #1b78d0;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active, a:focus {
  color: #004f98;
}

h1,h2,h3 {
  font-weight: 350;
  font-family: 'Roboto', Sans-Serif;
}

input, textarea, select {
  background: #fafaf9;
  background-clip: border-box;
  border: 1px solid #d9d9d9;
  padding: 0.6em 1em;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.current_templates,.created_tournaments,.diploma_templates, #diplomas{
  grid-area: main;
  margin: 1em auto;
  max-width: 760px;
  padding: 1em 2em 2em 2em;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

.error {
    color: #000;
    font-weight: bold;
    background-color: #ebaa6d;
    width: fit-content;
    padding: .5em 1em;
}

.back_link {
  padding: 1em 2em;
  font-size:  1.5em;
  float: left;
}

button {
  margin: .1em .5em;
  background-color: #406882;
  color: white;
  border: #728b9c 2px;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #22465e;
}

button:disabled {
  background-color: #535b61;
}

.template_list {
  padding: 0;
}

.template_list li {
  position: relative;
  width: fit-content;
  padding: 5px 24px 15px 5px;
  list-style: none;
  border-radius: 3px;
  border: #aaa solid 1px;
  border-bottom: none;
}
.template_list li:hover {
  background-color: #e6e6e6;
}
.template_list .tournament_header {
  cursor: pointer;
  margin: -5px -24px -15px -5px;
  padding: 5px 24px 15px 5px;
}

.template_edit {
  margin-top: 15px;
}

.template_list li.expanded {
  border-bottom: #aaa solid 1px;
}

.template_list li:last-child {
  border-bottom: #aaa solid 1px;;
}

.tournament_list_line{
  margin-bottom: .5em;
}

.tournament_list_line input[type=checkbox] {
  margin: 0 .5em;
}

.tournament_name {
  margin-right: 1em;
}

.tournament_date {
  font-style: italic;
}


.tournament_form_field {
  display: block;
  margin: .1em .3em;
  padding: .1em;
}

.tournament_form_field label::after {
  content: ": ";
}

.tournament_form_field input[type=number]{
  width: 55px;
}

.tournament_creation button {
  font-size: large;
  width: 220px;
}

#diploma_fields {
    width: 320px;
}

.diploma_field{
    border: solid lightgray 1px;
    width: 340px;
    display: inline-block;
    padding: .5em 24px .5em .5em;
    margin: .25em 0;
    position: relative;
}

.diploma_field .font_input{
    width: 120px;
}
.diploma_field .text_input{
    width: 240px;
}
.diploma_field input[type=number] {
    width: 3em;
}
.diploma_field input[type=color] {
  padding: 0;
  margin: 0 5px;
  top: 5px;
  position: relative;
}
.diploma_field button{
    margin: 0 .5em;
}

.diploma_image_thumbnail {
    float: right;
    max-width: 60px;
    max-height: 80px;
    min-height: 80px
}

#canvas_container {
    padding: 5px;
    border: darkgrey solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

@media (min-width: 715px) {
    #canvas_container {
        float: right;
    }
}

#diplomas {
    width: 384px;
    float: left;
    margin: 1em 2em;
}

.close {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

input[type=color] {
    border: none;
    width: 1.5em;
    height: 1.5em;
}

.tournament_list ol {
    padding: 0;
}

.tournament_line {
    position: relative;
    width: 320px;
    padding-right: 24px;
    list-style: none;
}

.tournament_line.highlight {
  background-color: #b0e7f0;
}

.button_paging {
  font-size: larger;
  padding: 0 2em;
}

.diploma_preview_canvas {
    width: 91px;
    height: 128px;
    display: inline-block;
    margin: 1px;
    overflow: hidden;
    cursor: pointer;
}
.diploma_list {
    padding: 0;
}
.diploma_list li{
    list-style: none;
    display: inline-block;
    margin: 0 .5em;
    text-align: center;
}

.diploma_list li button {
  margin: .1em 0;
  width: 100%;
}


.lds-roller {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 1em auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(122, 122, 122);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
