.copyright {
    margin: 0 auto;
}

.github img {
    height: 1em;
}

footer {
    margin: 1em auto;
    text-align: center;
    grid-area: footer;
}

html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 80px;
}
main {
    grid-area: main;
    margin: 0 1em;
    max-width: 960px;
}

.error {
    color: red;
    background-color: #b0e7f0;
    width: fit-content;
    padding: .2em 1em;
}

#diploma_fields {
    width: 320px;
}

.diploma_field{
    border: solid lightgray 1px;
    width: 320px;
    display: inline-block;
    padding: .5em;
    margin: .25em 0;
    position: relative;
}

.diploma_field input[type=text] {
    width: 120px;
}
.diploma_field input[type=number] {
    width: 3em;
}

.diploma_image_thumbnail {
    float: right;
    max-width: 60px;
    max-height: 80px;
    min-height: 80px
}

#canvas_container {
    padding: 5px;
    border: darkgrey solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    float: right;
    margin: 0 1em;
}

.close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 12px;
    height: 12px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  input[type=color] {
    border: none;
    width: 1.5em;
    height: 1.5em;
  }