<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auto tornaments for Lichess{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
    {% block head %} {% end %}
</head>
<body>
  <main>
    {% if handler.request.path != '/' %}
      <a href="/">&lt; Back</a>
    {% end %}
    <div class="content">
      {% block content %}{% end %}
    </div>
  </main>
  <footer>
      <span class="copyright">© Rostislav Kondratenko, 2021–2022 <a class="github" href="https://github.com/rkond/lichess_autotournament"><img src="{{ static_url('github-mark.svg') }}"></a></span>
  </footer>
{% block script %}{% end %}
</body>
</html>
