{% extends 'base.html' %}

{% block content %}
<h1>Tournament templates</h1>
{% if templates %}
<ol class="template_list">
<div class="template_box">
    {% for tournament in templates %}
      <li class="tournament_short">
      {{ tournament['type'] }} |
      {{ tournament['name'] }} |
      {{ tournament['minutes'] }} min
      {% if tournament.get('password') %} | Private{% end %}
      | {{ datetime.utcfromtimestamp(tournament['startDate']).strftime("%A %H:%M") }} UTC
      <a href="/delete/{{ tournament['id'] }}?_xsrf={{url_escape(xsrf_token)}}">Remove</a></li>
    {% end %}
</div>
</ol>
{% else %}
<p class="notice">
  No tournaments
</p>
{% end %}
<a href="/add"><button class="add">Add tournament template</button></a>
{% if templates %}
<hr>
<h1>Create tournaments</h1>
<form action="/create" method="POST">
  <label for="week">Week:</label> <select name="week" id="week">
    {% for week_no in range(5) %}
      {% set week_start = this_monday + timedelta(days=7*week_no)%}
      {% set week_end = week_start + timedelta(days=6)%}
      <option value="{{week_start.timestamp()}}" {% if not week_no %}selected{%end%}>{{week_start.strftime("%d %B %Y")}} — {{week_end.strftime("%d %B %Y")}}</option>
    {% end %}
  </select>
  <button type="submit" class="create">Create</button></a>
  {% module xsrf_form_html() %}
</form>
{% end %}
<p><a href="/tournaments">Previously created…</a></p>
<hr>
<h1>Diploma templates</h1>
<ol class="diploma_list">
{% for diploma in diploma_templates %}
  <li><a href="/diplomas/edit/{{ diploma['id'] }}">{{ diploma.get('name') or 'Unnamed' }}<br><img src="{{ diploma.get('thumbnail') }}"></a><br>
    <button class="delete_template" data-name="{{ diploma.get('name') or 'Unnamed' }}" data-link="/diplomas/delete/{{ diploma['id'] }}?_xsrf={{handler.xsrf_token}}">Delete</a></li>
{% end %}
</ol>
<br>
{% if  not diploma_templates %}
<p>No templates</p>
{% end %}
<a href="/diplomas/add"><button class="add">Add diploma template</button></a>

<script>
document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.delete_template').forEach(function (delete_template_button) {
        delete_template_button.addEventListener('click', (e) => {
          if (window.confirm(`Do you want to delete template: ${e.target.dataset.name}`))
            window.location = e.target.dataset.link;
        })
    });
})
</script>

{% end %}
