{% extends 'base.html' %}

{% block content %}
<h1>Created tournaments</h1>
{% if errors %}
<h3>Some tournaments were not created</h3>
<p>Check <a href="https://lichess.org/@/{{current_user['id']}}/tournaments/created">your tournament page</a> to see if some were created.</p>
<p>Errors are:</p>
{% for error in errors %}
  <p class="error">{{ error }}</p>
{% end %}
{% end %}
{% if tournaments %}
<select id="diploma_templates">
<option value=''>Diploma template to apply…</option>
  {% for template in diploma_templates %}
    <option value="{{ template['id'] }}">{{ template['name'] }}</option>
  {% end %}
</select>
<button id="apply_diploma_template" disabled>Apply to selected tournaments</button>
<ol class="tournament_list">
<div class="tournament_box">
    {% for template, tournament in tournaments %}
      <li class="tournament_short">
        <input type="checkbox" data-url="https://lichess.org/{{'tournament' if template['type']=='arena' else 'swiss'}}/{{ tournament['id'] }}">
      https://lichess.org/{{'tournament' if template['type']=='arena' else 'swiss'}}/{{ tournament['id'] }} |
      {{ tournament['fullName'] }} |
      {{ tournament['minutes'] }} min
      {% if template['password'] %} | password: {{ template['password'] }}{% end %}
      | {{ datetime.datetime.fromisoformat(tournament['startsAt'].strip('Z')).strftime("%d %B %Y %H:%M") }} UTC</li>
    {% end %}
</div>
</ol>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const selectedURLs = [];
  const applyButton = document.querySelector('#apply_diploma_template')
  const diplomaSelector = document.querySelector('#diploma_templates')
  document.querySelectorAll('.tournament_short input[type=checkbox]').forEach(function (select_checkbox) {
    select_checkbox.addEventListener('change', (e) => {
      if (e.target.checked) {
        selectedURLs.push(e.target.dataset.url);
      } else {
        selectedURLs.splice(selectedURLs.indexOf(e.target.dataset.url),1);
      }
      applyButton.disabled = !(selectedURLs.length && diplomaSelector.value);
    })
  });
  diplomaSelector.addEventListener('change', (e) => {
    applyButton.disabled = !(selectedURLs.length && diplomaSelector.value);
  });
  applyButton.addEventListener('click', (e) => {
    if (selectedURLs.length && diplomaSelector.value) {
      window.location.href = `/diplomas/edit/${diplomaSelector.value}?${(new URLSearchParams(selectedURLs.map((url) => ['u', url]))).toString()}`;
    }
  });
})
</script>
{% else %}
<p class="notice">
  No tournaments
</p>
{% end %}
{% end %}
